{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "airbnb",
    "prettier"
  ],
  "rules": {
    "strict": 0,
    "no-console": "warn",
    "quotes": [
      "warn",
      "double"
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "linebreak-style": "off",
    "no-underscore-dangle": "off",
    "no-nested-ternary": "off",
    "prettier/prettier": "warn",
    "react/prop-types": "off",
    "react/display-name": "off",
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "react/no-danger": "off"
  },
  "plugins": ["prettier", "jsx-a11y"]
}
