
#experiments {
  font-family: futura-pt;
  color: #f32d94;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 72px;
}

#rings {
  overflow: hidden;
  font-size: 72px;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.ring {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  overflow: hidden;
  transform: rotate(-10deg);
}

.ring.clear {
  -webkit-text-stroke: 1.5px;
  -webkit-text-fill-color: transparent;
}

.ring li:hover {
  -webkit-text-stroke: 1.5px;
  -webkit-text-fill-color: transparent;
}

.ring.clear li:hover {
  -webkit-text-stroke: 0px;
  -webkit-text-fill-color: #f32d94;
}

.ring ul {
  margin: 0;
  list-style: none;

  transform-style: preserve-3d;
  animation: three-dimensions-circle 15s linear infinite;
}

.ring li {
  position: absolute;
  top: 50%;
  left: 50%;
}

$NUMBER_OF_LETTERS: 9;

@for $i from 1 through $NUMBER_OF_LETTERS {
  li:nth-child(#{$i}) {
    transform: translate(-50%, -50%)
    rotate(#{$i * (360/$NUMBER_OF_LETTERS) - (360/$NUMBER_OF_LETTERS)}deg)
    translateY(-170px)
    rotateX(90deg);
  }
  @media (max-width: 860px) {
    li:nth-child(#{$i}) {
      transform: translate(-50%, -50%)
      rotate(#{$i * (360/$NUMBER_OF_LETTERS) - (360/$NUMBER_OF_LETTERS)}deg)
      translateY(-120px)
      rotateX(90deg);
    }
  }
}

@keyframes three-dimensions-circle {
  0% {
    transform: rotateX(-100deg) rotate(0);
  }
  100% {
    transform: rotateX(-100deg) rotate(-360deg);
  }
}

@media (max-width: 660px) {

  .left, .right {
    float: none;
    width: 100%;
  }

  .ring {
    height: 120px;
    transform: rotate(-7deg);
  }

  .ring ul {
    font-size: 64px;
  }

}





#stretch {
  overflow: hidden;
}

.stretch {
  font-size: 64px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.stretch.clear {
  -webkit-text-stroke: 1.5px;
  -webkit-text-fill-color: transparent;
}

.stretch p {
  text-align: center;
  line-height: initial;
}

span.stretch {
  display: inline-block;
  transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
}

@media (pointer: coarse) {
  span.stretch {
    transition-duration:  0.15s;
  }
}

@media (max-width: 860px) {
  .stretch {
    font-size: 52px;
    margin-bottom: 25px;
  }
}






#grid {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 170px;

  text-align: center;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#grid p {
  line-height: 60px;
}

#grid p:hover {
  -webkit-text-stroke: 1.5px;
  -webkit-text-fill-color: transparent;
}







.move {
    margin-top: 50px;
    top: 50%;
    text-align: center;
    width: 100%;
}





@media (pointer: coarse) {
  #grid, #move , .separator.bottom:nth-last-child(-n+2) {
    display: none;
  }
}
