#experiments {
  font-family: futura-pt;
  color: #f32d94;
}

#ring {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: hidden;
  transform: rotate(-10deg);
}

#ring ul {
  margin: 0;
  list-style: none;
  font-size: 86px;
  transform-style: preserve-3d;
  animation: three-dimensions-circle 15s linear infinite;
}

#ring li {
  position: absolute;
  top: 50%;
  left: 50%;
}

// 1 through N
// rotate(#{$i * (360/N) - (360/N)}
@for $i from 1 through 9 {
  li:nth-child(#{$i}) {
    transform: translate(-50%, -50%) rotate(#{$i * 40 - 40}deg) translateY(-260px) rotateX(90deg);
  }
}

@keyframes three-dimensions-circle {
  0% {
    transform: rotateX(-100deg) rotate(0);
  }
  100% {
    transform: rotateX(-100deg) rotate(-360deg);
  }
}
