
#experiments {
  font-family: futura-pt;
  color: #f32d94;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 72px;
}

#rings {
  overflow: hidden;
  font-size: 72px;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.ring {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  overflow: hidden;
  transform: rotate(-10deg);
}

.ring.clear {
  -webkit-text-stroke: 1.5px;
  -webkit-text-fill-color: transparent;
}

.ring li:hover {
  -webkit-text-stroke: 1.5px;
  -webkit-text-fill-color: transparent;
}

.ring.clear li:hover {
  -webkit-text-stroke: 0px;
  -webkit-text-fill-color: #f32d94;
}

.ring ul {
  margin: 0;
  list-style: none;

  transform-style: preserve-3d;
  animation: three-dimensions-circle 15s linear infinite;
}

.ring li {
  position: absolute;
  top: 50%;
  left: 50%;
}

$NUMBER_OF_LETTERS: 9;

@for $i from 1 through $NUMBER_OF_LETTERS {
  li:nth-child(#{$i}) {
    transform: translate(-50%, -50%)
    rotate(#{$i * (360/$NUMBER_OF_LETTERS) - (360/$NUMBER_OF_LETTERS)}deg)
    translateY(-170px)
    rotateX(90deg);
  }
  @media (max-width: 860px) {
    li:nth-child(#{$i}) {
      transform: translate(-50%, -50%)
      rotate(#{$i * (360/$NUMBER_OF_LETTERS) - (360/$NUMBER_OF_LETTERS)}deg)
      translateY(-120px)
      rotateX(90deg);
    }
  }
}

@keyframes three-dimensions-circle {
  0% {
    transform: rotateX(-100deg) rotate(0);
  }
  100% {
    transform: rotateX(-100deg) rotate(-360deg);
  }
}

@media (max-width: 660px) {

  .left, .right {
    float: none;
    width: 100%;
  }

  .ring {
    height: 120px;
    transform: rotate(-7deg);
  }

  .ring ul {
    font-size: 64px;
  }

}





#stretch {
  overflow: hidden;
}

.stretch {
  font-size: 64px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.stretch.clear {
  -webkit-text-stroke: 1.5px;
  -webkit-text-fill-color: transparent;
}

.stretch p {
  text-align: center;
  line-height: initial;
}

span.stretch {
  display: inline-block;
  transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
}

@media (pointer: coarse) {
  span.stretch {
    transition-duration:  0.15s;
  }
}

@media (max-width: 860px) {
  .stretch {
    font-size: 48px;
    margin-bottom: 25px;
  }
}



.move {
    font-size: 56px;
    margin-top: 50px;
    top: 50%;
    text-align: center;
    width: 100%;
    transition-duration: 1s;
}




#slice {
	background: white;
	color: #f32d94;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	position: relative;
}

.text {
	display: flex;
	font-size: 15vw;
	font-weight: bold;
	line-height: 1em;
}

.text--2,
.text--3,
.text--4,
.text--5 {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.text--1 {
	clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 20%);
}

.text--2 {
	clip-path: polygon(0 20%, 100% 20%, 100% 40%, 0% 40%);
}
.text--3 {
	clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0% 60%);
}
.text--4 {
	clip-path: polygon(0 60%, 100% 60%, 100% 80%, 0% 80%);
}
.text--5 {
	clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0% 100%);
}


.text__half--left {
	transform-origin: center left;
	transform: scalex(2);
}

.text__half--right {
	transform-origin: center right;
	transform: scalex(0);
}

.text--1 {
	.text__half--left {
		animation: shrink 1s ease-in-out infinite;
	}
	.text__half--right {
		animation: grow 1s ease-in-out infinite;
	}
}

.text--2 {
	.text__half--left {
		animation: shrink 1s ease-in-out .025s infinite;
	}
	.text__half--right {
		animation: grow 1s ease-in-out .025s infinite;
	}
}

.text--3 {
	.text__half--left {
		animation: shrink 1s ease-in-out .05s infinite;
	}
	.text__half--right {
		animation: grow 1s ease-in-out .05s infinite;
	}
}

.text--4 {
	.text__half--left {
		animation: shrink 1s ease-in-out .075s infinite;
	}
	.text__half--right {
		animation: grow 1s ease-in-out .075s infinite;
	}
}

.text--5 {
	.text__half--left {
		animation: shrink 1s ease-in-out .1s infinite;
	}
	.text__half--right {
		animation: grow 1s ease-in-out .1s infinite;
	}
}


@keyframes shrink {
    to {transform: scalex(0)}
}

@keyframes grow {
    to {transform: scalex(2)}
}




@media (pointer: coarse) {
  #grid, #move, .separator.bottom:nth-last-child(-n+2) {
    display: none;
  }
}
