body {
  font-family: 'Px', sans-serif;
  color: #F32D94;
  -webkit-font-smoothing: antialiased;
  max-width: 1100px;
  margin: auto;
  padding: 0 40px;
}

p {
  letter-spacing: -0.2px;
}

a, a:visited {
  color: #F32D94;
  text-decoration: none;
}

header {
  margin-top: 40px;
  overflow: hidden;
}

header h1 {
  width: 50%;
  padding: 10px 0 0 0;
  float: left;
}

header h1 img {
  max-width: 300px;
}

header nav {
  width: 49%;
  padding-top: 0px;
  text-align: right;
  float: right;
  overflow: hidden;
}

header nav a, header nav p a:first-child {
  font-size: 28px;
  line-height: 47px;
  border-style: solid;
  color: #fff;
  padding: 2px 5px;
  background-color: #F32D94;
  cursor: pointer;
}

header nav p a.join {
  border-style: solid;
  border-width: 3px;
  color: #f32d94;
  background-color: #fff;
}

.icon {
  margin: 10px 0 10px 0px;
  background-color: transparent;
}

.icon img {
  vertical-align: middle;
  max-height: 25px;
}

.icon.medium img {
  max-height: 23px;
}

#copy {
  padding-top: 25px;
  font-weight: 400;
  display: inline-block;
  width: 85%;
  vertical-align: top;
  padding-right: 22px;
  line-height: 1.15;
}

.description {
  font-size: 26px;
  font-weight: 400;
  padding-top: 20px;
}

.separator {
  margin-top: 45px;
  height: 4px;
  background-color: #F32D94;
}

.separator.top {
  margin-bottom: 45px;
}

#footer_logo {
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 70px;
}

.footerlogo img {
  max-height: 40px;
}

#copyright {
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 0px;
  opacity: 0.9;
}

#copyright p {
  line-height: 25px;
  text-align: center;
}

#copyright a {
  font-weight: 800;
  text-decoration: underline;
}

#fourohfour {
  padding-top: 20px;
  padding-bottom: 200px;
  text-decoration: none;
  font-size: 40px;
  font-family: futura-pt, 'Px', sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.7px;
  line-height: 1.15;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  header {
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  header {
    padding-top: 0px;
  }
  header h1 {
    padding-top: 0px;
  }
  header nav a {
    font-size: 26px;
    line-height: 42px;
  }
  .description {
    font-size: 22px;
  }
  .separator.top {
    margin: 40px 0;
  }
}

@media (max-width: 660px) {
  header h1 {
    float: none;
  }
  header nav {
    display: block;
    margin-top: 15px;
    float: none;
    text-align: left;
    width: 310px;
    padding-bottom: 5px;
  }
  header nav a {
    font-size: 24px;
    margin-right: 7px;
  }
  header nav p {
    display: inline;
  }
  #socials {
    float: left;
    margin-right: 15px;
  }
  .icon img {
    vertical-align: middle;
  }
  .icon.medium {
    padding-left: 0px;
  }
  #copy {
    width: 100%;
    padding-right: 0;
    padding-top: 15px;
  }
  .description {
    font-size: 20px;
  }
  .separator.top {
    margin: 33px 0 35px 0;
  }
  .separator.bottom {
    margin-top: 30px;
  }
  #footer_logo {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  #copyright {
    font-size: 12px;
  }
}

@media (max-width:470px) {
  #copyright p {
    text-align: left;
  }
}

@media (max-width: 375px) {
  header h1 img {
    max-width: 250px;
  }
  body {
    padding: 0 25px;
  }
  .description {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  header h1 img {
    max-width: 200px;
  }
  header nav a {
    font-size: 20px;
  }
}
