#copy{
	padding-top: 30px;
}

.head{
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-size: 40px;
	font-weight: 800;
	text-transform: uppercase;
}

#floorcopy{
	display: inline-block;
	width: 50%;
	vertical-align: top;
	padding-right: 22px;
}

.teamphoto{
	width: 100%;
	height: auto;
	max-width: 100%;
	padding-top: 25px;
}

.formdiv{
	display: inline-block;
	width: 40%;
	padding-left: 74px;
}

.description{
	font-size: 30px;
	padding-top: 25px;
	line-height: 1.1;
}

a.homelink{
  color: #F32D94;
	}

a.homelink:visited{
  color: #F32D94;
	}

.form{
	padding: 10px 0 30px 0;
	text-align: center;
	font-size: 20px;
	color: #F32D94;
	width: 100%;
	text-align: right;
}

.form-group{
	padding-bottom: 25px;
}

	.form div     { }
	label { min-width: 150px; display: inline-block; }

input {
	-webkit-appearance: none;
	-webkit-border-radius:0;
  border-radius:0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type=text], input[type=email], select {
		width: 100%;
    padding: 10px 10px;
    margin: 12px 0;
    display: inline-block;
    border-width: 0 0 2px;
		border-color: #f32d94;
    box-sizing: border-box;
		font-size: 20px;
		color: #333333;
		font-family: 'Px', sans-serif;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #f32d94;
    border: none;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
		font-size: 16px;
		font-family: 'Px', sans-serif;
}

textarea{
	width: 100%;
	padding: 10px 10px;
	margin: 12px 0;
	display: inline-block;
	border-width: 2px 2px 2px 2px;
	border-color: #f32d94;
	box-sizing: border-box;
	font-size: 20px;
	color: #333333;
	font-family: 'Px', sans-serif;
	resize: vertical;
}

input[type=text], input[type=email], select {
		width: 100%; }

.hidden{
	display: none;
}



@media (min-width: 1920px) {


}


@media (max-width: 1080px){

	.formdiv{
		padding-left: 66px;
	}

}


@media (max-width: 1000px){

	.formdiv{
		padding-left: 60px;
	}

}


@media (max-width: 940px){

	.formdiv{
		padding-left: 50px;
	}

}


@media (max-width: 840px){

	.formdiv{
		padding-left: 40px;
	}

}


@media (max-width: 740px){

	.formdiv{
		padding-left: 32px;
	}

}


@media (max-width: 660px){

	#copy{
		padding-top: 20px;
	}

	#floorcopy{
		width: 100%;
		padding-right: 0;
	}

	.formdiv{
		width: 100%;
		padding-left: 0;
		padding-top: 10px;
	}

	.form{
		padding-top: 40px;
		text-align: left;
	}

	.description{
		font-size: 26px;
		padding-top: 20px;
	}

	.teamphoto{
		padding-top: 20px;
	}

	a.button{
	  border-width: 2px;
	}

}


@media (max-width: 375px){

	#logo_image{
		max-width: 300px;
	}

	.wrapper{
		padding: 0 25px;
	}

	.contact{
		display: block;
		margin-top: 50px;
	}

	.contact a{
		font-size: 24px;
	}

}


	@media (max-width: 320px){

		#logo_image{
			max-width: 200px;
		}

		.contact a{
			font-size: 22px;
		}

}
