.blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 1;
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  overflow: hidden;
}

.blocker:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em
}

.blocker.behind {
  background-color: transparent
}

.modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  background: #fff;
  text-align: left;
  height: 500px;
  max-width: 900px;
  width: 90%;

}

.modal a.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('images/modal_exit.svg');
}

.modal-spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #111;
  height: 20px
}



/* Adventure styles */

#modals {
  display: none;
}

.modal-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
}

.modal-details,
.modal-image {
  /* -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; */
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  }
}

.modal-details {
	-webkit-box-ordinal-group: initial;
  -ms-flex-order: initial;
  order: 2;
}

.modal-details {
  padding: 40px;
  overflow: auto;
}

/* Text styles inside details */
.modal-details h2 {
  font-family: futura-pt, 'Px', sans-serif;
	font-weight: 800;
	color: #F32D94;
  text-transform: uppercase;
  font-size: 56px;
  margin-bottom: 5px;
}

.modal-site-link {
  display: block;
  font-size: 24px;
  text-decoration: underline;
}

.modal-details p,
.modal-site-link {
  color: #444;
  margin-bottom: 20px;
}

.modal-details p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: normal;
}

.modal .line {
  font-size: 24px;
  line-height: 1.2;
}

.modal .copy {
  font-style: italic;
  margin-bottom: 0;
}
/* End */

.modal-image {
  position: relative;
	-webkit-box-ordinal-group: initial;
  -ms-flex-order: initial;
	order: 1;
  overflow: hidden;
}

.modal-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  left: 0;
  bottom: 0;
  background-color: #F32D94;
  opacity: .65;
}

.modal-image-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.modal-image-logo {
  position: absolute;
  bottom: 25px;
  left: 25px;
  max-width: 160px;
  max-height: 60px;
  z-index: 2;
}


@media (max-width: 850px){

  .modal {
    width: 95%;
  }

  .modal-details h2{
    font-size: 52px;
    word-wrap: break-word;
    hyphens: auto;
  }


@media (max-width: 767px){

  .modal {
    width: 100%;
  }

  .modal-details h2{
    font-size: 48px;
  }

}


@media (max-width: 640px){

  .modal{
    height: 80%;
  }

  .modal-details h2{
    font-size: 46px;
  }

  .modal-site-link{
    font-size: 22px;
  }

  .modal .line{
    font-size: 22px;
  }

  .modal-details p{
    font-size: 17px;
  }

}


@media (max-width: 579px){

  .modal {
    height: 100%;
    width: 100%;
  }

	.modal-inner {
    -webkit-box-orient: vertical;
  	-webkit-box-direction: normal;
  	-ms-flex-direction: column;
  	flex-direction: column;
	}

  .modal-details,
  .modal-image {
    height: 50%;
    width: 100%;
  }

  .modal-image-logo{
    max-width: 140px;
    max-height: 55px;
  }

	.modal-details {
	  order: 2;
    padding: 30px;
	}

	.modal-image {
		order: 1;
	}

}


@media (max-width: 579px){

  .modal-details{
    padding: 25px;
  }

  .modal-details h2{
    font-size: 46px;
  }

  .modal-image-logo{
    max-width: 120px;
    max-height: 50px;
  }

}
