.blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 1;
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  overflow: hidden;
}

.blocker:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em
}

.blocker.behind {
  background-color: transparent
}

.modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  background: #fff;
  text-align: left;
  height: 500px;
  max-width: 900px;
  width: 90%;
}

.modal a.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('images/modal_exit.svg');
}

/* Adventure styles */

#modals {
  display: none;
}

.modal-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
}

.modal-details, .modal-image {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
}

/* KEEP THIS!! FIXES MODAL INNER ORDER FOR SOME REASON */
}

.modal-details {
  -webkit-box-ordinal-group: initial;
  -ms-flex-order: initial;
  order: 2;
}

.modal-details {
  padding: 35px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Text styles inside details */

.modal-details h2 {
  font-family: futura-pt, 'Px', sans-serif;
  font-weight: 800;
  color: #F32D94;
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 6px;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke: 1px;
  -moz-text-fill-color: transparent;
  -ms-text-stroke: 1px;
  -ms-text-fill-color: transparent;
}

.modal-details .modal-site-link {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-decoration: underline;
  display: inline-block;
}

.modal-details p, .modal-site-link {
  color: #444;
  margin-bottom: 20px;
}

.modal-details p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: normal;
}

.modal .line {
  font-size: 24px;
  line-height: 1.2;
}

.modal .copy {
  font-style: italic;
  margin-bottom: 0;
}

/* End */

.modal-image {
  position: relative;
  -webkit-box-ordinal-group: initial;
  -ms-flex-order: initial;
  order: 1;
  overflow: hidden;
}

.modal-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  left: 0;
  bottom: 0;
  background-color: #F32D94;
  opacity: .55;
}

.modal-image-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.modal-image-logo {
  position: absolute;
  bottom: 25px;
  left: 25px;
  max-width: 160px;
  max-height: 60px;
  z-index: 2;
}

/* Soundwaves */

#modal-soundwaves .modal-details h2 {
  font-size: 52px;
}
@media (max-width: 980px) {
  #modal-soundwaves .modal-details h2 {
    word-wrap: break-word;
    hyphens: auto;
  }
}


@media (max-width: 880px) {
  .modal {
    width: 95%;
  }
  .modal-details h2 {
    font-size: 56px;
    word-wrap: break-word;
    hyphens: auto;
  }
}

@media (max-width: 767px) {
  .modal {
    width: 100%;
  }
  .modal-details h2 {
    font-size: 52px;
  }
}

@media (max-width: 640px) {
  .modal {
    height: 90%;
    width: 90%;
  }
  .modal-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .modal-details, .modal-image {
    height: 50%;
    width: 100%;
  }
  .modal-image:after {
    top: -1px;
    left: -1px;
  }
  .modal-image-logo {
    max-height: 55px;
  }
  .modal-details {
    order: 2;
    padding: 30px;
  }
  .modal-image {
    order: 1;
  }
  .modal-details h2 {
    font-size: 46px;
  }
  .modal-details .modal-site-link {
    font-size: 24px;
  }
  .modal .line {
    font-size: 20px;
  }
  .modal-details p {
    font-size: 17px;
  }
  .modal-image-logo {
    max-width: 140px;
  }
}

@media (max-width: 500px) {
  .modal {
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
  }
  .modal-image-logo {
    display: none;
  }
  .modal-details h2 {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(0, calc(-100% - 20px));
    z-index: 5;
  }
  .modal-site-link {
    margin-bottom: 25px;
  }
}


@media (max-width: 379px) {
  .modal-details {
    padding: 25px;
  }
  .modal-details .modal-site-link {
    font-size: 22px;
  }
  .modal .line {
    font-size: 18px;
  }
  .modal-details p {
    font-size: 16px;
  }
  .modal-image-logo {
    max-width: 120px;
    max-height: 50px;
  }
}
