#resourcelist{
	margin-bottom: 40px;
}

.resource{
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-size: 36px;
	font-weight: 800;
	text-transform: uppercase;
	padding-top: 25px;
}

.resource a:hover{
	position: relative;
             top: -2px;
	padding-bottom: 2px;
}

.comment{
	padding-top: 5px;
	font-size: 26px;
	font-weight: 400;
}


@media (min-width: 1920px) {


}


@media (max-width: 1080px){


}


@media (max-width: 1000px){


}

@media (max-width: 767px){


}


@media (max-width: 660px){

	.resource{
		font-size: 26px;
	}

	.comment{
		font-size: 20px;
	}

}


@media (max-width: 375px){


}


	@media (max-width: 320px){



}
