.head {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  margin-top: 30px;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 0.9;
}

#floorcopy {
  width: 75%;
  margin: 30px auto 30px auto;
}

.copy {
  padding-top: 25px;
  line-height: 1.1;
  font-size: 22px;
}

.copy a {
  text-decoration: underline;
}

.subtitle {
  padding-top: 25px;
  font-size: 22px;
  font-weight: bold;
  color: #565656;
  margin-bottom: -10px;
}

.separator.thin {
  height: 3px;
  margin: 30px 0 0 0;
}

span.date {
  font-size: 28px;
}


@media (max-width: 800px) {
  #floorcopy {
    width: 100%;
    padding-right: 0;
    margin: 10px auto 10px auto;
  }
  .head {
    font-size: 30px;
    line-height: 30px;
    margin-top: 20px;
  }
  .copy {
    padding-top: 20px;
    font-size: 20px;
  }
  .subtitle {
    font-size: 20px;
  }
  .separator.thin {
    height: 2px;
    margin: 30px 0 30px 0;
  }
  span.date {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .head {
    font-size: 26px;
    margin-top: 10px;
  }
  #floorcopy {
    margin: 0 auto 0 auto;
  }
  .copy {
    font-size: 18px;
  }
  .subtitle {
    font-size: 18px;
  }
  span.date {
    font-size: 20px;
  }
}
