body{
	font-family: 'Px', sans-serif;
  -webkit-font-smoothing: antialiased;
	font-weight: 800;
}

p{
	color: #F32D94;
	letter-spacing: -0.2px;
	line-height: 35px;
}

.wrapper{
	max-width: 1100px;
	margin: auto;
	padding: 0 40px;
}

#header{
	padding-top: 35px;
}

#logo{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding: 10px 0 0 0;
}

#logo_image{
	max-width: 300px;
}

#tagline{
	font-size: 34px;
	margin: 10px 0 0 0;
	font-weight: 400;
}

#copy{
	padding-top: 80px;
	font-weight: 400;
}

.button{
	padding: 2px 5px;
	background-color: #F32D94;
	cursor: pointer;
}

a.button{
  border-style: solid;
  border-width: 3px;
	color: #ffffff;
}

.is_checked{
		padding: 2px 5px;
		background-color: #ffffff;
		color: #F32D94;
		cursor: pointer;
		border-width: 3px;
}

a.is_checked{
	  border-style: solid;
	  border-width: 3px;
		color: #F32D94;
}

.head{
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-size: 40px;
	font-weight: 800;
	text-transform: uppercase;
}

#copy{
	display: inline-block;
	width: 50%;
	vertical-align: top;
	padding-right: 22px;
}

.description{
	font-size: 30px;
	padding-top: 25px;
}

a.homelink{
  color: #F32D94;
}

a.homelink:visited{
  color: #F32D94;
}

.hidden{
	display: none;
}

#selectors{
	padding-top: 55px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.8;
}

#companies{
	margin: 70px 0 0 0;
	padding: 20px 0 0 0;
	width: 55%;
}

ul#companies {
	padding: 40px 0 0 0;
	margin: 0 0 40px 0;

	columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
	width: 95%;
}

ul#companies li {
	margin: 0 0 0 0;
}

ul#companies li a {
	text-decoration: none;
	font-size: 40px;
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 800;
	color: #F32D94;
	letter-spacing: -0.7px;
	line-height: 1.15;
	text-transform: uppercase;
}

ul#companies li a:hover {
	position: relative;
             top: -2px;
	padding-bottom: 2px;
}

ul#companies li a:active {
	position: relative;
						 top: -2px;
}

.contact{
	width: 49%;
	display: inline-block;
	vertical-align: top;
	padding-top: 0px;
	font-weight: 400;
	margin-top: 60px;
}

.contact a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 28px;
	line-height: 50px;
}

.contact.top {
text-align: right;
}

.contact.bottom {
	text-align: left;
	display: none;
	padding-bottom: 60px;
}

.icon{
	padding: 10px 0 10px 15px;
	vertical-align: middle;
}

.icon img{
	vertical-align: middle;
	max-height: 25px;
}

#footer{
	height: 300px;
	width: 100%;
	bottom: 0;
	position:fixed;
	overflow: visible;
	z-index: -1;
}

#fourohfour{
	padding-top: 60px;
	text-decoration: none;
	font-size: 40px;
	font-family: futura-pt, 'Px', sans-serif;
	font-style: normal;
	font-weight: 800;
	color: #F32D94;
	letter-spacing: -0.7px;
	line-height: 1.15;
	text-transform: uppercase;
}



@media (min-width: 1920px) {


}


@media (max-width: 1080px){


}


@media (max-width: 1000px){

	.contact.top{
		display: none;
	}

	.contact.bottom{
		display: block;
	}

	.icon{
		padding: 0 10px 0 0;
	}

	ul#companies {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
		width: 100%;
	}

}

@media (max-width: 767px){

	.wrapper{
		margin: auto;
	}

	#header{
		padding-top: 0px;
	}

	ul#companies li a {
		font-size: 34px;
	}

	#companies{
		margin: 35px 0 0 0;
		width: 100%;
	}

}


@media (max-width: 660px){

	#copy{
		width: 100%;
		padding-right: 0;
		padding-top: 60px;
	}

	#selectors{
		font-size: 21px;
	}

	ul#companies li a {
		line-height: 0.95;
	}

	ul#companies li {
		margin: 8px 0 0 0;
	}

	.description{
		font-size: 26px;
		padding-top: 20px;
	}

	.teamphoto{
		padding-top: 20px;
	}

	a.button{
	  border-width: 2px;
	}

	.formdiv{
		width: 100%;
		padding-left: 0;
		padding-top: 10px;
	}

	.form{
		padding-top: 50px;
		text-align: left;
	}

}


@media (max-width: 375px){

	#logo_image{
		max-width: 300px;
	}

	.wrapper{
		padding: 0 25px;
	}

	.contact{
		display: block;
		margin-top: 50px;
	}

	.contact a{
		font-size: 24px;
	}

}


	@media (max-width: 320px){

		#logo_image{
			max-width: 200px;
		}

		ul#companies li a {
			font-size: 26px;
		}

		.contact a{
			font-size: 22px;
		}

}
