.faq-content {
    margin-bottom: 120px;

    .writing {
        margin: auto;
        max-width: 720px;

        p.question {
            margin-top: 45px;

            font-size: 1.28em;
            font-weight: 700;
            line-height: 1.6;
            color: var(--grey04);
        }

        p.answer-header {
            font-weight: 700;
            margin-top: 18px;
        }

        p.answer {
            margin-top: 18px;
        }

        a {
            text-decoration: underline;

            &:hover {
                font-style: italic;
            }
        }
    }




    @media (max-width: 769px) {
        margin-bottom: 100px;

        .writing {
            p.question {
                margin-top: 30px;
                font-size: 1.22em;
            }

            p.answer {
                margin-top: 12px;
            }
        }
    }
}
