.contact-content {
    h1 {
        max-width: 50%;
    }

    .copy-form-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .copy {
            max-width: 42%;

            p {
                margin-bottom: 30px;

                a {
                    font-size: 1.24em;
                    color: var(--grey04);

                    &:hover {
                        font-style: italic;
                    }
                }
            }
        }

        form {
            margin-left: 40px;
            width: 45%;

            label {
                margin-bottom: 25px;

                &.hidden {
                    display: none;
                }
            }

            label {
                width: 100%;
                min-width: 150px;
                display: inline-block;
            }

            input {
                -webkit-appearance: none;
                border-radius: 0;
            }

            *:focus {
                outline: none;
            }

            input[type=text], input[type=email], select {
                width: 100%;
                padding: 10px 10px;
                margin: 12px 0;
                display: inline-block;
                border-width: 0 0 2px;
                border-color: var(--piglet);
                box-sizing: border-box;
                font-size: 20px;
                color: var(--nonBlack);
                font-family: var(--pxGrotesk);
            }

            textarea {
                width: 100%;
                padding: 10px 10px;
                margin: 12px 0;
                display: inline-block;
                border-width: 2px 2px 2px 2px;
                border-color: var(--piglet);
                box-sizing: border-box;
                font-size: 20px;
                color: var(--nonBlack);
                font-family: var(--pxGrotesk);
                resize: vertical;
            }

            input[type=button], input[type=submit], input[type=reset] {
                cursor: pointer;
            }

            input[disabled], textarea[disabled], input[type=submit][disabled], input:-internal-autofill-selected[disabled] {
                border-color: var(--grey04);
                color: var(--grey04);
                pointer-events: none;
            }

            ::placeholder {
                color: var(--piglet);
                opacity: 0.6;
            }
        }
    }

    .submit-transition {
        display: block;
        transform-origin: top;
        transition: opacity 160ms, transform 160ms ease-in-out;

        &.transition-active {
            opacity: 0;
            transform: translate(0, 4px);
        }
    }



    @media (max-width: 825px) {
        .copy-form-container {
            form {
                margin-left: 25px;
                width: 48%;
            }
        }
    }

    @media (max-width: 700px) {
        .copy-form-container {
            flex-direction: column;

            .copy {
                width: 100%;
                max-width: 100%;
                margin-bottom: 60px;
            }

            form {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    @media (max-width: 520px) {
        .copy-form-container {
            .copy {
                margin-bottom: 40px;
            }
        }
    }
}
