:root {
  /* Fonts */
  --futuraBold: "futura-pt", "futura", sans-serif;
  --futura: "futura-pt-bold", "futura", sans-serif;
  --pxGrotesk: "PxGroteskRegular", "Arial", sans-serif;

  /* Colours */
  --nonWhite: #F6F6F6;
  --grey01: #EAEAEA;
  --grey02: #BFBFBF;
  --grey03: #969696;
  --grey04: #646464;
  --nonBlack: #333333;
  --piglet: #F32D94;
  /* --passion     : #E60C29;
  --ohra        : #FF5519;
  --honey       : #FFBF02;
  --jeezz       : #96CC29;
  --pot         : #14C04D;
  --mare        : #16D6D9;
  --blu         : #009CF3;
  --blu-alt     : #0084cd;
  --navy        : #143FCC;
  --rain        : #6114CC; */

  /* UI */
  --card-shadow: 0px 3px 28px rgba(0, 0, 0, 0.16);
}
