@font-face {
  font-family: PxGroteskRegular;
  src: url(./px-grotesk/PxGrotesk-Regular.eot);
  src: url(./px-grotesk/PxGrotesk-Regular.eot?#iefix) format('embedded-opentype'),
       url(./px-grotesk/PxGrotesk-Regular.woff2) format('woff2'),
       url(./px-grotesk/PxGrotesk-Regular.woff) format('woff'),
       url(./px-grotesk/PxGrotesk-Regular.svg#PxGroteskRegular) format('svg');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  text-rendering: optimizeLegibility;
}