@font-face {
  font-family: La Nord;
  src: url("../assets/fonts/LaNord-Medium.woff2") format('woff2'),
       url("../assets/fonts/LaNord-Medium.woff") format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}