body {
  margin: 0;
  padding: 0;
  background-color: #f32d94;
  max-height: 100vh;
  overflow: hidden;
}

div.canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -28%);
          transform: translate(-50%, -28%);
  width: 80%;
  max-width: 1000px;
  height: 100%;
  padding: 0 70px;
  box-sizing: border-box;
  border-radius: 0;
}

div.canvas .canvas-inner {
  box-shadow: rgba(0, 0, 0, 0.4) 0 20px 60px 0;
  border-radius: 8px;
}

div.canvas .canvas-inner svg {
  border-radius: 8px 8px 0 0;
  background-color: #e8e8e8;
}

div.canvas .canvas-inner img.white-bg {
  margin: -5px 0;
  border-radius: 0 0 8px 8px;
  width: 100%;
  height: 50vh;
}

header {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around;
  margin-top: 1.5%;
}

header .logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 32vh;
  width: 26vw;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  transition: -webkit-transform 12s;
  transition: transform 12s;
  transition: transform 12s, -webkit-transform 12s;
  --scale: 1;
}

header .logo img {
  position: absolute;
  max-width: calc(11vw * var(--scale));
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  transition: -webkit-transform 12s;
  transition: transform 12s;
  transition: transform 12s, -webkit-transform 12s;
}

header .logo:hover {
  -webkit-transform: rotate(335deg);
          transform: rotate(335deg);
  transition: -webkit-transform 16s cubic-bezier(0.6, 0, 0.5, 1);
  transition: transform 16s cubic-bezier(0.6, 0, 0.5, 1);
  transition: transform 16s cubic-bezier(0.6, 0, 0.5, 1), -webkit-transform 16s cubic-bezier(0.6, 0, 0.5, 1);
}

header .logo:hover img {
  -webkit-transform: rotate(-335deg);
          transform: rotate(-335deg);
  transition: -webkit-transform 16s cubic-bezier(0.6, 0, 0.5, 1);
  transition: transform 16s cubic-bezier(0.6, 0, 0.5, 1);
  transition: transform 16s cubic-bezier(0.6, 0, 0.5, 1), -webkit-transform 16s cubic-bezier(0.6, 0, 0.5, 1);
}

@media (pointer: coarse) {
  header .logo:hover {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  header .logo:hover img {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

header .logo ul {
  position: relative;
  margin: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: three-dimensions-circle 16s linear infinite;
          animation: three-dimensions-circle 16s linear infinite;
}

@-webkit-keyframes three-dimensions-circle {
  0% {
    -webkit-transform: rotateX(-100deg) rotate(0);
            transform: rotateX(-100deg) rotate(0);
  }
  100% {
    -webkit-transform: rotateX(-100deg) rotate(-360deg);
            transform: rotateX(-100deg) rotate(-360deg);
  }
}

@keyframes three-dimensions-circle {
  0% {
    -webkit-transform: rotateX(-100deg) rotate(0);
            transform: rotateX(-100deg) rotate(0);
  }
  100% {
    -webkit-transform: rotateX(-100deg) rotate(-360deg);
            transform: rotateX(-100deg) rotate(-360deg);
  }
}

header .logo ul li {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "futura-pt", futura, sans-serif;
  font-size: calc(5.5vw * var(--scale));
  font-weight: bold;
  color: var(--piglet);
  -webkit-text-stroke: 0.022em var(--piglet);
  transition: opacity 0.2s;
  --translateY: calc(-13.5vw * var(--scale));
}

header .logo ul li.transition {
  opacity: 0;
}

header .logo ul li:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(0deg) translateY(var(--translateY)) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(0deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(40deg) translateY(var(--translateY)) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(40deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(80deg) translateY(var(--translateY)) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(80deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) rotate(120deg) translateY(var(--translateY)) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(120deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(5) {
  -webkit-transform: translate(-50%, -50%) rotate(160deg) translateY(var(--translateY)) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(160deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(6) {
  -webkit-transform: translate(-50%, -50%) rotate(200deg) translateY(var(--translateY)) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(200deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(7) {
  -webkit-transform: translate(-50%, -50%) rotate(240deg) translateY(var(--translateY)) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(240deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(8) {
  -webkit-transform: translate(-50%, -50%) rotate(280deg) translateY(var(--translateY)) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(280deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(9) {
  -webkit-transform: translate(-50%, -50%) rotate(320deg) translateY(var(--translateY)) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(320deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(1) {
  -webkit-animation: circle-orbit-1 16s linear infinite;
          animation: circle-orbit-1 16s linear infinite;
}

header .logo ul li:nth-child(2) {
  -webkit-animation: circle-orbit-2 16s linear infinite;
          animation: circle-orbit-2 16s linear infinite;
}

header .logo ul li:nth-child(3) {
  -webkit-animation: circle-orbit-3 16s linear infinite;
          animation: circle-orbit-3 16s linear infinite;
}

header .logo ul li:nth-child(4) {
  -webkit-animation: circle-orbit-4 16s linear infinite;
          animation: circle-orbit-4 16s linear infinite;
}

header .logo ul li:nth-child(5) {
  -webkit-animation: circle-orbit-5 16s linear infinite;
          animation: circle-orbit-5 16s linear infinite;
}

header .logo ul li:nth-child(6) {
  -webkit-animation: circle-orbit-6 16s linear infinite;
          animation: circle-orbit-6 16s linear infinite;
}

header .logo ul li:nth-child(7) {
  -webkit-animation: circle-orbit-7 16s linear infinite;
          animation: circle-orbit-7 16s linear infinite;
}

header .logo ul li:nth-child(8) {
  -webkit-animation: circle-orbit-8 16s linear infinite;
          animation: circle-orbit-8 16s linear infinite;
}

header .logo ul li:nth-child(9) {
  -webkit-animation: circle-orbit-9 16s linear infinite;
          animation: circle-orbit-9 16s linear infinite;
}

header .logo ul li:nth-child(8) {
  -webkit-text-fill-color: #ffffff;
}

@-webkit-keyframes circle-orbit-8 {
  6% {
    -webkit-text-fill-color: transparent;
  }
}

@keyframes circle-orbit-8 {
  6% {
    -webkit-text-fill-color: transparent;
  }
}

header .logo ul li:nth-child(9) {
  -webkit-text-fill-color: #ffffff;
}

@-webkit-keyframes circle-orbit-9 {
  28.22222% {
    -webkit-text-fill-color: transparent;
  }
}

@keyframes circle-orbit-9 {
  28.22222% {
    -webkit-text-fill-color: transparent;
  }
}

header .logo ul li:nth-child(1) {
  -webkit-text-fill-color: #ffffff;
}

@-webkit-keyframes circle-orbit-1 {
  50% {
    -webkit-text-fill-color: transparent;
  }
}

@keyframes circle-orbit-1 {
  50% {
    -webkit-text-fill-color: transparent;
  }
}

header .logo ul li:nth-child(2) {
  -webkit-text-fill-color: #ffffff;
}

@-webkit-keyframes circle-orbit-2 {
  72.22222% {
    -webkit-text-fill-color: transparent;
  }
}

@keyframes circle-orbit-2 {
  72.22222% {
    -webkit-text-fill-color: transparent;
  }
}

header .logo ul li:nth-child(3) {
  -webkit-text-fill-color: #ffffff;
}

@-webkit-keyframes circle-orbit-3 {
  94.44444% {
    -webkit-text-fill-color: transparent;
  }
}

@keyframes circle-orbit-3 {
  94.44444% {
    -webkit-text-fill-color: transparent;
  }
}

header .logo ul li:nth-child(4) {
  -webkit-text-fill-color: #ffffff00;
}

@-webkit-keyframes circle-orbit-4 {
  18% {
    -webkit-text-fill-color: #ffffff;
  }
}

@keyframes circle-orbit-4 {
  18% {
    -webkit-text-fill-color: #ffffff;
  }
}

header .logo ul li:nth-child(5) {
  -webkit-text-fill-color: #ffffff00;
}

@-webkit-keyframes circle-orbit-5 {
  40.22222% {
    -webkit-text-fill-color: #ffffff;
  }
}

@keyframes circle-orbit-5 {
  40.22222% {
    -webkit-text-fill-color: #ffffff;
  }
}

header .logo ul li:nth-child(6) {
  -webkit-text-fill-color: #ffffff00;
}

@-webkit-keyframes circle-orbit-6 {
  62.44444% {
    -webkit-text-fill-color: #ffffff;
  }
}

@keyframes circle-orbit-6 {
  62.44444% {
    -webkit-text-fill-color: #ffffff;
  }
}

header .logo ul li:nth-child(7) {
  -webkit-text-fill-color: #ffffff00;
}

@-webkit-keyframes circle-orbit-7 {
  84.66667% {
    -webkit-text-fill-color: #ffffff;
  }
}

@keyframes circle-orbit-7 {
  84.66667% {
    -webkit-text-fill-color: #ffffff;
  }
}

@media (max-width: 769px) {
  header .logo {
    --scale: 1.4;
  }
}

@media (max-width: 500px) {
  header .logo {
    --scale: 1.6;
  }
}
