label {
	min-width: 150px;
	display: inline-block;
}

input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

input[type=text], input[type=email], select {
	width: 100%;
	padding: 10px 10px;
	margin: 12px 0;
	display: inline-block;
	border-width: 0 0 2px;
	border-color: var(--piglet);
	box-sizing: border-box;
	font-size: 20px;
	color: var(--nonBlack) 333;
	font-family: 'Px', sans-serif;
}

input[type=button], input[type=submit], input[type=reset] {
	background-color: var(--piglet);
	border: none;
	color: white;
	padding: 12px 24px;
	text-decoration: none;
	margin: 10px 2px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Px', sans-serif;
}

::placeholder {
	color: var(--piglet);
}

textarea {
	width: 100%;
	padding: 10px 10px;
	margin: 12px 0;
	display: inline-block;
	border-width: 2px 2px 2px 2px;
	border-color: var(--piglet);
	box-sizing: border-box;
	font-size: 20px;
	color: var(--nonBlack) 333;
	font-family: 'Px', sans-serif;
	resize: vertical;
}

input[type=text], input[type=email], select {
	width: 100%;
}
