header {
	margin: 65px 0 170px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	width: 230px;
	transform: rotate(-10deg);
	transition: transform 12s;
}

header .logo img {
	position: absolute;
	max-width: 80px;
	transform: rotate(10deg);
	transition: transform 12s;
}

header .logo:hover {
	transform: rotate(335deg);
	transition: transform 16s cubic-bezier(0.6, 0, 0.5, 1);
}

header .logo:hover img {
	transform: rotate(-335deg);
	transition: transform 16s cubic-bezier(0.6, 0, 0.5, 1);
}

@media (pointer: coarse) {
	header .logo:hover {
		transform: rotate(10deg);
	}
	header .logo:hover img {
		transform: rotate(-10deg);
	}
}

header .logo ul {
	position: relative;
	margin: 0;
	list-style: none;
	transform-style: preserve-3d;
	animation: three-dimensions-circle 16s linear infinite;
}

@keyframes three-dimensions-circle {
	0% {
		transform: rotateX(-100deg) rotate(0);
	}
	100% {
		transform: rotateX(-100deg) rotate(-360deg);
	}
}

header .logo ul li {
	position: absolute;
	top: 50%;
	left: 50%;
	font-family: "futura-pt", futura, sans-serif;
	font-size: 52px;
	font-weight: bold;
	color: #f32d94;
	-webkit-text-stroke: 1.2px #f32d94;
	--translateY: -110px;
}

header .logo ul li:nth-child(1) {
	transform: translate(-50%, -50%) rotate(0deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(2) {
	transform: translate(-50%, -50%) rotate(40deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(3) {
	transform: translate(-50%, -50%) rotate(80deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(4) {
	transform: translate(-50%, -50%) rotate(120deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(5) {
	transform: translate(-50%, -50%) rotate(160deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(6) {
	transform: translate(-50%, -50%) rotate(200deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(7) {
	transform: translate(-50%, -50%) rotate(240deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(8) {
	transform: translate(-50%, -50%) rotate(280deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(9) {
	transform: translate(-50%, -50%) rotate(320deg) translateY(var(--translateY)) rotateX(90deg);
}

header .logo ul li:nth-child(1) {
	animation: circle-orbit-1 16s linear infinite;
}

header .logo ul li:nth-child(2) {
	animation: circle-orbit-2 16s linear infinite;
}

header .logo ul li:nth-child(3) {
	animation: circle-orbit-3 16s linear infinite;
}

header .logo ul li:nth-child(4) {
	animation: circle-orbit-4 16s linear infinite;
}

header .logo ul li:nth-child(5) {
	animation: circle-orbit-5 16s linear infinite;
}

header .logo ul li:nth-child(6) {
	animation: circle-orbit-6 16s linear infinite;
}

header .logo ul li:nth-child(7) {
	animation: circle-orbit-7 16s linear infinite;
}

header .logo ul li:nth-child(8) {
	animation: circle-orbit-8 16s linear infinite;
}

header .logo ul li:nth-child(9) {
	animation: circle-orbit-9 16s linear infinite;
}

header .logo ul li:nth-child(8) {
	-webkit-text-fill-color: #fff;
}

@keyframes circle-orbit-8 {
	6% {
		-webkit-text-fill-color: transparent;
	}
}

header .logo ul li:nth-child(9) {
	-webkit-text-fill-color: #fff;
}

@keyframes circle-orbit-9 {
	28.22222% {
		-webkit-text-fill-color: transparent;
	}
}

header .logo ul li:nth-child(1) {
	-webkit-text-fill-color: #fff;
}

@keyframes circle-orbit-1 {
	50% {
		-webkit-text-fill-color: transparent;
	}
}

header .logo ul li:nth-child(2) {
	-webkit-text-fill-color: #fff;
}

@keyframes circle-orbit-2 {
	72.22222% {
		-webkit-text-fill-color: transparent;
	}
}

header .logo ul li:nth-child(3) {
	-webkit-text-fill-color: #fff;
}

@keyframes circle-orbit-3 {
	94.44444% {
		-webkit-text-fill-color: transparent;
	}
}

header .logo ul li:nth-child(4) {
	-webkit-text-fill-color: transparent;
}

@keyframes circle-orbit-4 {
	18% {
		-webkit-text-fill-color: #fff;
	}
}

header .logo ul li:nth-child(5) {
	-webkit-text-fill-color: transparent;
}

@keyframes circle-orbit-5 {
	40.22222% {
		-webkit-text-fill-color: #fff;
	}
}

header .logo ul li:nth-child(6) {
	-webkit-text-fill-color: transparent;
}

@keyframes circle-orbit-6 {
	62.44444% {
		-webkit-text-fill-color: #fff;
	}
}

header .logo ul li:nth-child(7) {
	-webkit-text-fill-color: transparent;
}

@keyframes circle-orbit-7 {
	84.66667% {
		-webkit-text-fill-color: #fff;
	}
}

header nav a, header nav a:visited {
	margin-left: 60px;
	font-size: 20px;
	line-height: 1.6;
	color: #646464;
}

header nav a:hover, header nav a:visited:hover {
	font-style: italic;
}

header nav a:last-child, header nav a:visited:last-child {
	text-decoration: line-through;
	pointer-events: none;
}

@media (max-width: 780px) {
	header .logo {
		height: 70px;
		width: 190px;
	}
	header .logo img {
		width: 70px;
	}
	header .logo ul li {
		font-size: 48px;
		--translateY: -90px;
	}
	header nav a {
		margin-left: 40px;
		font-size: 18px;
	}
}

@media (max-width: 600px) {
	header {
		margin: 50px 0 120px 0;
	}
	header .logo {
		height: 65px;
		width: 175px;
	}
	header .logo img {
		width: 67px;
	}
	header .logo ul li {
		font-size: 46px;
		--translateY: -85px;
	}
	header nav a {
		margin-left: 25px;
	}
}

@media (max-width: 565px) {
	header {
		margin: 30px 0 100px 0;
	}
	header nav a {
		display: block;
		margin-bottom: 1px;
		text-align: right;
	}
}

@media (max-width: 425px) {
	header {
		margin: 25px 0 100px 0;
	}
	header .logo {
		height: 65px;
		width: 170px;
	}
	header .logo img {
		width: 65px;
	}
	header .logo ul li {
		font-size: 44px;
		--translateY: -80px;
	}
}

@media (max-width: 374px) {
	header .logo {
		height: 55px;
		width: 145px;
	}
	header .logo img {
		width: 60px;
	}
	header .logo ul li {
		font-size: 38px;
		--translateY: -70px;
	}
	header nav a {
		font-size: 17px;
	}
}

@media (max-width: 330px) {
	header {
		margin: 20px 0 90px 0;
	}
	header .logo {
		height: 50px;
		width: 135px;
	}
	header .logo img {
		width: 60px;
	}
	header .logo ul li {
		font-size: 36px;
		--translateY: -65px;
	}
}
