.separator {
	margin-top: 85px;
	height: 4px;
	background-color: #f32d94;
}

@media (max-width: 525px) {
	.separator {
		margin-top: 75px;
	}
}

footer {
	margin: 65px 0 55px 0;
	font-size: 16px;
	color: #646464;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
}

footer a, footer a:visited {
	color: #646464;
	width: max-content;
}

footer a:hover {
	font-style: italic;
}

footer .left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 155px;
}

footer .left .ADV {
	font-family: "Futura-pt";
	font-size: 42px;
	line-height: 1;
	letter-spacing: -5px;
	color: #f32d94;
}

footer .left .ADV span {
	display: inline-block;
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

footer .left .copyright {
	margin-bottom: 5px;
	font-size: 0.85em;
}

footer .left .copyright p {
	margin: 0;
	line-height: 1.8;
}

footer .left .copyright a {
	text-decoration: underline;
}

footer .right {
	width: 52%;
	margin-right: 10px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

footer .right p {
	margin-bottom: 15px;
	color: #f32d94;
	font-weight: 800;
}

footer .right a {
	display: block;
	margin-bottom: 10px;
}

@media (max-width: 1000px) {
	footer .right {
		width: 65%;
	}
}

@media (max-width: 780px) {
	footer {
		font-size: 15px;
	}
	footer .left {
		height: 138px;
	}
}

@media (max-width: 700px) {
	footer {
		margin: 65px 0 35px 0;
		flex-direction: column-reverse;
	}
	footer .left {
		margin-top: 40px;
		height: initial;
		width: 80%;
		flex-direction: row-reverse;
	}
	footer .left .copyright {
		display: inline;
	}
	footer .right {
		width: 80%;
	}
	footer .right p {
		margin-bottom: 10px;
	}
	footer .right a {
		margin-bottom: 8px;
	}
}

@media (max-width: 575px) {
	footer {
		margin: 55px 0 25px 0;
	}
	footer .left {
		width: 97%;
	}
	footer .right {
		width: 100%;
	}
}

@media (max-width: 450px) {
	footer .left .ADV {
		font-size: 38px;
	}
	footer .left .copyright {
		font-size: 0.8em;
	}
	footer .right {
		margin-right: 0;
		width: 82%;
		flex-wrap: wrap;
	}
	footer .right .find-us {
		margin-top: 25px;
	}
	footer .right .find-us a {
		display: inline;
		margin-right: 15px;
	}
}

@media (max-width: 390px) {
	footer .right {
		width: 98%;
	}
}

@media (max-width: 335px) {
	footer {
		font-size: 14px;
	}
	footer .left {
		width: 100%;
	}
	footer .right {
		width: 100%;
	}
}
