.portfolio-item {
	height: max-content;
}

.portfolio-item p.name {
	font-size: 1.22em;
	font-weight: 800;
	line-height: 1.7;
	color: #f32d94;
	text-align: right;
	text-transform: uppercase;
	transition: transform 0.07s;
}

.portfolio-item img {
	object-fit: cover;
	filter: contrast(92%);
	transition: transform 0.07s, box-shadow 0.07s, filter 0.07s;
}

.portfolio-item p.copy {
	margin-top: 5px;
	max-width: 230px;
}

.portfolio-item:hover p.name {
	font-style: italic;
	transform: translate(0px, -5px);
}

.portfolio-item:hover img {
	box-shadow: -0px 6px 0px -2px #f32d94;
	transform: translate(0px, -5px);
	filter: contrast(92%) brightness(103%);
}

.portfolio-item:focus p.name {
	transform: translate(0px, -3px);
}

.portfolio-item:focus img {
	box-shadow: -0px 3px 0px 0px #f32d94;
	transform: translate(0px, -3px);
}
