.approach-content h1 {
	max-width: 400px;
}

.approach-content p:not(:first-child) {
	margin-top: 50px;
}

.approach-content .writing {
	margin: auto;
	max-width: 800px;
}

.approach-content .writing a {
	text-decoration: underline;
}

.approach-content .writing a:hover {
	font-style: italic;
}

.approach-content .writing blockquote {
	margin: 70px auto 70px auto;
	text-align: center;
}

.approach-content .stages {
	margin: 80px auto 0 auto;
	max-width: 1050px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.approach-content .stages div {
	width: 33%;
	min-width: 200px;
	max-width: 300px;
	position: relative;
	margin-bottom: 70px;
}

.approach-content .stages div h2.number {
	position: absolute;
	top: -5px;
	left: -25px;
	z-index: -1;
	font-family: "futura-pt", "futura", sans-serif;
	font-size: 72px;
	opacity: 0.85;
	-webkit-text-stroke: 1px;
	-webkit-text-fill-color: transparent;
}

.approach-content .stages div p.stage-title {
	font-weight: 700;
}

.approach-content .stages div p.stage-copy {
	margin-top: 10px;
}

.approach-content .stages div:hover h2.number {
	-webkit-text-stroke: 0;
	-webkit-text-fill-color: #f32d94;
	transform: scale(1.04);
	transform-origin: bottom left;
	transition: transform 0.2s;
}

.approach-content .stages div.stage-cta {
	margin-top: 25px;
}

.approach-content .stages div.stage-cta a.button {
	display: block;
	width: max-content;
}
