.separator {
    margin: 85px 0 60px 0;
    height: 4px;
    background-color: #f32d94;


    @media (max-width: 525px) {
        margin: 75px 0 45px 0;
    }
}

footer {
    margin: 65px 0 55px 0;

    font-size: 16px;
    color: #646464;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    position: relative;

    a, a:visited {
        color: #646464;

        width: max-content;
    }

    a:hover {
        font-style: italic;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 155px;

        .ADV {
            font-family: "Futura-pt";
            font-size: 42px;
            line-height: 1;
            letter-spacing: -5px;
            color: #f32d94;

            span {
                display: inline-block;
                transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
        }

        .copyright {
            margin-bottom: 5px;

            font-size: 0.85em;

            p {
                margin: 0;
                line-height: 1.8;
            }

            a {
                text-decoration: underline;
            }
        }
    }

    .right {
        width: 52%;
        margin-right: 10px;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        p {
            margin-bottom: 15px;

            color: #f32d94;
            font-weight: 800;
        }

        a {
            display: block;
            margin-bottom: 10px;
        }
    }


    @media (max-width: 1000px) {
        .right {
            width: 65%;
        }
    }


    @media (max-width: 780px) {
        font-size: 15px;

        .left {
            height: 138px;
        }

        .right {
            p {
                margin-bottom: 13px;
            }

            a {
                margin-bottom: 9px;
            }
        }
    }


    @media (max-width: 700px) {
        margin: 65px 0 35px 0;

        flex-direction: column-reverse;

        .left {
            margin-top: 30px;
            height: initial;
            width: 80%;

            flex-direction: row-reverse;

            .copyright {
                display: inline;
            }
        }

        .right {
            width: 80%;

            p {
                margin-bottom: 10px;
            }

            a {
                margin-bottom: 6px;
            }
        }
    }


    @media (max-width: 575px) {
        margin: 65px 0 25px 0;

        .left {
            width: 97%;
        }

        .right {
            width: 100%;

            p {
                margin-bottom: 10px;
            }

            a {
                margin-bottom: 6px;
            }
        }
    }


    @media (max-width: 450px) {
        .left {
            .copyright {
                font-size: 0.8em;
            }
        }

        .right {
            margin-right: 0;
            width: 82%;
            flex-wrap: wrap;

            .find-us {
                margin: 25px 0 28px 0;

                a {
                    display: inline;
                    margin-right: 15px;
                }
            }
        }
    }


    @media (max-width: 375px) {
        .right {
            width: 98%;

            .find-us {
                a {
                    margin-right: 12px;
                }
            }
        }
    }


    @media (max-width: 335px) {
        .left {
            width: 100%;
        }

        .right {
            width: 100%;
        }
    }


}
