.modal-container {
    display: none;
}



.blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    overflow: hidden;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.05em
    }

    &.behind {
        background-color: transparent
    }
}



.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    background: #fff;
    text-align: left;
    height: 500px;
    max-width: 900px;
    width: 90%;

    a.close-modal {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("../../images/modal_exit.svg");
    }

    .modal-inner {
        display: flex;
        flex-direction: row;
        height: 100%;

        .modal-details, .modal-image {
            box-sizing: border-box;
            height: 100%;
            width: 50%;
            overflow-x: hidden;
        }

        .modal-details {
            padding: 35px;
            overflow: auto;

            h2 {
                margin-bottom: 6px;
                font-family: futura-pt, 'Px', sans-serif;
                font-weight: 800;
                color: #F32D94;
                text-transform: uppercase;
                font-size: 60px;
                line-height: 1;
            }

            a.site-link {
                display: block;
                margin-bottom: 20px;
                font-size: 24px;
                font-weight: 700;
                color: #333;
                text-decoration: underline;
                display: inline-block;

                &:hover {
                    font-style: italic;
                }
            }

            p {
                color: #646464;
            }

            p.line {
                margin-bottom: 20px;
                font-size: 24px;
                line-height: 1.3;
            }

            p.copy {
                font-style: italic;
                line-height: 1.6;
            }
        }

        .modal-image {
            position: relative;
            order: 1;
            overflow: hidden;

            img.background {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                filter: contrast(95%) brightness(90%);
            }

            img.logo {
                position: absolute;
                bottom: 25px;
                left: 25px;
                max-width: 160px;
                max-height: 60px;
                z-index: 2;
            }
        }

    }




    @media (max-width: 880px) {
        width: 95%;

        .modal-inner .modal-details h2 {
            font-size: 56px;
            word-wrap: break-word;
            hyphens: auto;
        }
    }


    @media (max-width: 780px) {
        width: 100%;

        .modal-inner .modal-details h2 {
            font-size: 52px;
        }
    }


    @media (max-width: 640px) {
        height: calc(100% - 100px);
        width: calc(100% - 90px);

        .modal-inner {
            flex-direction: column;

            .modal-details, .modal-image {
                height: 50%;
                width: 100%;
            }

            .modal-details {
                order: 2;
                padding: 30px;

                h2 {
                    font-size: 46px;
                }

                p.line {
                    font-size: 20px;
                }
            }

            .modal-image {
                order: 1;

                img.logo {
                    max-height: 55px;
                    max-width: 140px;
                }
            }
        }
    }


    @media (max-width: 500px) {
        height: calc(100% - 80px);
        width: calc(100% - 60px);

        .modal-inner {
            .modal-details {
                padding: 20px 22px;

                h2 {
                    display: none;
                }

                a.site-link {
                    margin-bottom: 18px;
                    font-size: 25px;
                }

                p.line {
                    margin-bottom: 12px;
                }
            }
        }
    }


    @media (max-width: 379px) {
        height: calc(100% - 52px);
        width: calc(100% - 42px);

        .modal-inner {
            .modal-details {
                padding: 16px 20px;

                a.site-link {
                    margin-bottom: 15px;
                    font-size: 23px;
                }

                p.line {
                    font-size: 18px;
                }

                p.copy {
                    font-size: 0.97em;
                }
            }

            .modal-image img.logo {
                max-width: 120px;
                max-height: 50px;
            }
        }
    }


    @media (max-width: 325px) {
        height: 100%;
        width: 100%;
    }


    @media
    (pointer: coarse) and (max-width: 500px) and (min-height: 750px),
    (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio : 2),
    (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio : 3),
    (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio : 3) {
        width: 100%;
        height: 85%;
        position: fixed;
        bottom: 0;
        left: 0;
    }


}
