body {
  max-width: 1100px;
  margin: auto;
  padding: 0 60px;
  font-family: 'Px', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.3;
  color: #333;
}

h1 {
  font-family: "futura-pt", "futura", sans-serif;
  font-style: normal;
  font-size: 52px;
  line-height: 1.05;
  font-weight: 800;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  color: #f32d94;
  margin-bottom: 80px;
}

h2 {
  font-family: "futura", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.5px;
  color: #f32d94;
  margin-bottom: 20px;
}

p {
  letter-spacing: -0.2px;
  line-height: 1.5;
}

p:not(:first-of-type) {
  margin-top: 20px;
}

b {
  font-weight: 700;
}

a, a:visited {
  text-decoration: none;
  color: #333;
}

a.button {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 40px 10px 15px;
  box-sizing: border-box;
  border: 1px solid #333;
  font-size: 16px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: calc(100% - 14px) 50%;
}

a.button:hover {
  box-shadow: inset 0 0 0 0.5px #333;
}

a.button.internal {
  background-size: 15px auto;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzFweCIgaGVpZ2h0PSIyNnB4IiB2aWV3Qm94PSIwIDAgMzEgMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUyLjUgKDY3NDY5KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5kb3dubG9hZDwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJXZWIiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJIb21lIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzIyLjAwMDAwMCwgLTEwODcuMDAwMDAwKSIgZmlsbD0iI0YzMkQ5NCI+CiAgICAgICAgICAgIDxnIGlkPSJkb3dubG9hZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzIyLjAwMDAwMCwgMTA4Ny4wMDAwMDApIj4KICAgICAgICAgICAgICAgIDxyZWN0IGlkPSJSZWN0YW5nbGUtNiIgeD0iMCIgeT0iMTEiIHdpZHRoPSIyNyIgaGVpZ2h0PSI0Ij48L3JlY3Q+CiAgICAgICAgICAgICAgICA8cG9seWdvbiBpZD0iQ29tYmluZWQtU2hhcGUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE3LjcyNzkyMiwgMTMuMDAwMDAwKSBzY2FsZSgtMSwgMSkgcm90YXRlKDQ1LjAwMDAwMCkgdHJhbnNsYXRlKC0xNy43Mjc5MjIsIC0xMy4wMDAwMDApICIgcG9pbnRzPSIxMi43Mjc5MjIgMTguMDAwMDAwMSAxMi43Mjc5MjIgNC4wMDAwMDAwNiA4LjcyNzkyMTkyIDQuMDAwMDAwMDYgOC43Mjc5MjE5MiAyMC4wMDAwMDAxIDguNzI3OTIxOTIgMjIuMDAwMDAwMSAyNi43Mjc5MjIgMjIuMDAwMDAwMSAyNi43Mjc5MjIgMTguMDAwMDAwMSI+PC9wb2x5Z29uPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=");
}

a.button.internal:hover {
  background-position: calc(100% - 11px) 50%;
}

a.button.external {
  background-size: 13px auto;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABGdBTUEAALGPC/xhBQAABb5JREFUeAHtnN9rHFUUx8+5s9vdbWM2P0pSQUyVvogNKkX0QdA/wGcJ9KW+FF+sCYhPgin40AfB0gqCIM2LUPDVV6Gh+iAlBIlBxUoTDCQpNj9M6m66M3M8N8kum2Vm9+6cXWdmcweGmblzz517P/O9c+6cubsIKVu2z9+cVoifJKXaKikVSWs9LEDhnbMALUAhAaG5VaAFKCQgNM/oYYGwjMjmvuvODP42tdROAT7AHUVE7dg0zYs0QICXEHCgab6Qk7gz/kXnKhNykfBk/62nFq7Mhp/v/pnNFz4bc5z8LCKMRblaJopRL9g8fHG6r4DDnxLCa0h0BgAjNetYAtTwMjA4xF33AmN7PSK7feDHDmBNeQyPwY1Hkl2d0bEC+ODsdL6mPIQ36jhE3j1W48ChU6ffy6K6i0CvRibWYNhMgR4ArRIhb7uzkAd73Sn5aKkbz18rYi4zoJTPnlY9e/RsyBHRHj8j1wCp2GyI0wQgw/NhwvPLKyGXECf/XTmxJi7EoACn0PcuD1Mmebw2YOpr2TvPe255IpM5MckemtfgJRSgVp6GN/jrh8vBpslP/ePcjdzp7JMzh8ozG+ex8rhl6wx6Wbd95/zNrWZeOhRg8vG0ruFojp91Kv8dEOSaQagvibvtPZe8iy5sbtSnh+33JED9zMsUCuOE6gJ7yaIRvINn3j12MHMa3sji9G4YtPr0ngSo4SGqb/jZNVTf2Bb761XlmcLT5fUUQK087TBAwUvcbUfYceRbQONssI3g3/JJLW8/3nz43NJ0uZVN/fmeAqiHKtrbsgMYM+q2mgTBlus9uR7VWfYEwM2znw+oU9lL2tvqoUq9QkL3Cco8VLnNgbGfac/dCs3X4kRPAISCV0TM8lhNjbUxztvjrjvTvygLp6UaYC0w0EZIihW3S0AfI/lzlVJpoYXAWp5OLcBIISnutjxM2QCG17/4wQ8t6RhkSCXAmvLaDEnpZx74/tduB5RXZZs6gJFCUnqQjMjDE/q9U8pLLUAdklJIUwxj1DgMj/Sl5+5dl3jbKrDGbWoUKAlJEQ+So47zGoE1HqcGoCQkBSVnu7HhnTpOPMBqYEC/nu2/YRi0XL+e8RvGAuef65byqtVIPMBaYIDfbdt4PVuoBgaqDe3WNrEAq8rTISkdVTEJDMC+t4V5rbx2QlISuIkFWFPeAbw+w0auuxW47DqPHrQTkjIsOzBb4gBKQ1JYrvw1smQWDA0k0pDoAszyXJyrDcm1w8QBjCMkVaMRsDP4y/t3OFmvgUtiAMYZkgokY5iYGIBxhqQMWQVmix1gLTAQY0gqkIxhYuwAM6W8QyfhZf76bzZLqgshKUNWgdlSNzfmIAzvX+xkSCqQjGFi7AokdZKZAE/xoBUeMD/N9XaC6n74eralv2EUOxQMDbpOu2mxK3D4/pWdEpUm9Twchrga1gD96dHzym96pd1bYXniSI9dgdxoGln8aO3RuRuZbB6XEVlr9Uo8nKuiv9t2OzAQ5QbErsBqpb+/f3e1UqaJRiVy/56vuPC2/7gyU82bpG1iAL4D33rcnVfKUPqTQ1E/8i8ZZvXKgvxJv9sOLk1F/nbbTeBJ6MJH2sfdeZ2782X0/2XfAuAWyt7/FRg4UhHDg8QB5HoTK/Efw/qLs+k5hCNZeEVleApcwOJWvOVmPwZKIsCAZnQvaThHo0qpr3heYODUXyeL1/jqeg1cjj1A9CtImO/ngG0xiJBPzWd4JcaJBFU+DWkWoPAuWYAWoJCA0Nwq0AIUEhCaWwVagEICQnOrQAtQSEBobhVoAQoJCM2tAi1AIQGhuVWgBSgkIDS3CrQAhQSE5laBFqCQgNDcKlAIMPSrHM9RcRyVe4b/X094iWSb6zbqthr/7q6hOaEA9QQfVHTbwXzX/vqpoS6xHB7C09PqIi1NAOp5esh3J1K5KTKSNdA+A4W32gK0AIUEhOZWgRagkIDQ/D8+txmzqo+HdQAAAABJRU5ErkJggg==");
}

a.button.external:hover {
  background-size: 14px auto;
  background-position: calc(100% - 13px) 50%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFkAAABYCAYAAACeV1sKAAAABGdBTUEAALGPC/xhBQAAAVlpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KTMInWQAABehJREFUeAHtnT1sHEUUx2f2zrLPX+cvOaaJrSgSBVgJWAiKICgoaZFcmgbRJLIlZKWgMBKFu0iGMkUaGjokGiSQjOIOpTIRWJyNjGIZgQAZh9jJ3e7jvTuvs7O6uZvb3Vnf7r2RrLuZ3Xmz89u/Zt+8t5dIkbNyPL/xFgjnKylEuVum5nTLheT5OhhyCneXITPkFAikMAQrmSGnQCCFIYopjJHqEDXPPSpIuQVCDCc1sBSyLKSYR3uFKDbRncxX+VK8V3jnykJigIlOYXDwhpTOF1F979xBTlIyf19ZLxdKw+9LR1yTIBZRzQNR7OduuYgCQddH9hfHpBTLqMRZBBy5MOQm6HwFO443CwJwex6DMNpnyE0g+woWwpmNh7dhnCEHIP8zd2fMGepbaihYjAUOxfrKkIP4Sm5Zyr7lpBTsm2bISOKPl9aGS3LyU5DidQkwY7oGoy9+TwrvHoZWl3BZWfKhhj+Lx/Of47kXVADWRn68+ckFjV4flgAXxfgECLmAoN4wfMa5CO2xELAzsn3r++OXP3tboBuiKz2t5HMFI2CESzs6swJiG4T3sVdzH5p06FnIioKluGECC8/xFXzgPnmyNbF3+8ikX09Cjq1gcA++3XuAy4VZ6TnIv86tDZyvwZYV7N+CnoM8MTT1oSNhBR9al8y9CPihVhUf1Aonf07v3f7Xh2f62TOQaaMh0A+mjQb6wZcNAbl4Mw4xOLQPNdif/nm1Y8A0TmvIAJt4Dv3ZKbJu347tkFXaydFGA12vMb2zFeqEgMETi6fiZHe6snocPmpabw0ZAV+0H2s6Ed15FOyhWMSZglHFRqWuYEAFV5+igiurvxv10pzUDrKmW3aa6/FgDFdGUTAB/q5y/zDubHML+ZerG/1Tfc9m4ih4snLrUVzA1D+3kC/1w2vCGfhagOg33CrjMw4OqjXxLj3kEHDkNTh8Y3IHmdbgYqk0D9JZwPcdKAFqUly8Gdt44k7dTYvoRegGyh1kAkxJT/SBJ3STDrfjev2YYhG1U3E/jhcRtuvXcwM5qGACjEExk4z1mYLhwMOt8mRlJZIf7MPUfeYGclDBhoBxhWgomII9ncQidDB17ZmHTF4EPeRoDY6qYNNomg5iu/bMQyY3jbyI+kOu3WzPjpOCpfSWRzHgbtgl1mmZhRxM23fopm2ix/FNreruxyLXQefMQg6m7Q3dNB/L5uj2zXW/ksZn5iBHTtv7wS4bQSmyCWJNd8MyB5nClRHT9taCXZRMRcDa9T0zkCmjUQ+411+d6uDFE5sK1kk31J4JyFtTqyPlofHxRkbDuSxDk9BUG0lPfMilvQaHrycTkDHMfqcoCy82UkbhKWjqGIsgNy1NL0JzJdmIwqFyX8Vd3Cu42dDNI9h+nrZPyw8ODt7sezaU3OzKdW3+iycYi9CdknZ7JiCDlBglE0eY0BxFMevkfK7gTl48SQN4NiB7YgXAm5HCuYtQ8IXAJiWgYJvBniYjt23KBOQ3d9cf/HV1Y7RvAHZRxjVcm1/Amfm/RMJwJdDSsEPxYFvhyrYkW5yQmR9LUjqoegqLlKKndyGezwkOKWV0AifLSaaMntuP/y0zkHGqQIlN13v6CEBiyr5R6t+f/ffb9MN62h6X7u4rmVgugtjGf/poH+tzwbZu/54lJXc7S+31MWQtmuQOMOTkWGotMWQtmuQOMOTkWGotMWQtmuQOMOTkWGotZc5P1s4k4gHKevcNDV7XdT9LLekOG7X3POQGYGezBS1d1K9FF/UQLxcqDys1hmwFq2qUIas8rNQYshWsqlGGrPKwUmPIVrCqRhmyysNKjSFbwaoaZcgqDys1hmwFq2qUIas8rNQYshWsqlGGrPKwUmPIVrCqRhmyysNKjSFbwaoaZcgqDys1hmwFq2qUIas8rNQYshWsqlGGrPKwUmPIVrCqRlu+EoA/iJmj/99O7ZKvmgfyuhM76d+aSUvIOPYS/pOL+JffYhswkePlIgX9MGSGnAKBFIZgJTPkFAikMAQrOQXI/wMQ99hatF1rjQAAAABJRU5ErkJggg==");
}

a.button.back {
  padding-right: 15px;
  padding-left: 40px;
  background-position: 15px 50%;
  background-size: 15px auto;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzFweCIgaGVpZ2h0PSIyNnB4IiB2aWV3Qm94PSIwIDAgMzEgMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUyLjUgKDY3NDY5KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5kb3dubG9hZDwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJXZWIiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJIb21lIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzQ5LjAwMDAwMCwgLTI4OTYuMDAwMDAwKSIgZmlsbD0iI0YzMkQ5NCI+CiAgICAgICAgICAgIDxnIGlkPSJkb3dubG9hZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzY0LjUwMDAwMCwgMjkwOS4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTM2NC41MDAwMDAsIC0yOTA5LjAwMDAwMCkgdHJhbnNsYXRlKDM0OS4wMDAwMDAsIDI4OTYuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICA8cmVjdCBpZD0iUmVjdGFuZ2xlLTYiIHg9IjAiIHk9IjExIiB3aWR0aD0iMjciIGhlaWdodD0iNCI+PC9yZWN0PgogICAgICAgICAgICAgICAgPHBvbHlnb24gaWQ9IkNvbWJpbmVkLVNoYXBlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNy43Mjc5MjIsIDEzLjAwMDAwMCkgc2NhbGUoLTEsIDEpIHJvdGF0ZSg0NS4wMDAwMDApIHRyYW5zbGF0ZSgtMTcuNzI3OTIyLCAtMTMuMDAwMDAwKSAiIHBvaW50cz0iMTIuNzI3OTIyMSAxOCAxMi43Mjc5MjIxIDQuMDAwMDAwMDEgOC43Mjc5MjIwNCA0LjAwMDAwMDAxIDguNzI3OTIyMDQgMjAgOC43Mjc5MjIwNCAyMiAyNi43Mjc5MjIxIDIyIDI2LjcyNzkyMjEgMTgiPjwvcG9seWdvbj4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+");
}

a.button.back:hover {
  background-position: 12px 50%;
}

header {
  margin: 65px 0 170px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 230px;
  overflow: hidden;
  transform: rotate(-10deg);
  transition: transform 12s;
}

header .logo img {
  position: absolute;
  top: 35%;
  max-width: 80px;
  transform: rotate(10deg);
  transition: transform 12s;
}

header .logo:hover {
  transform: rotate(335deg);
  transition: transform 16s cubic-bezier(0.6, 0, 0.5, 1);
}

header .logo:hover img {
  transform: rotate(-335deg);
  transition: transform 16s cubic-bezier(0.6, 0, 0.5, 1);
}

header .logo ul {
  position: relative;
  margin: 0;
  list-style: none;
  transform-style: preserve-3d;
  animation: three-dimensions-circle 16s linear infinite;
}

@keyframes three-dimensions-circle {
  0% {
    transform: rotateX(-100deg) rotate(0);
  }
  100% {
    transform: rotateX(-100deg) rotate(-360deg);
  }
}

header .logo ul li {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "futura-pt", futura, sans-serif;
  font-size: 52px;
  font-weight: bold;
  color: #f32d94;
  -webkit-text-stroke: 1.2px #f32d94;
}

header .logo ul li:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg) translateY(-110px) rotateX(90deg);
}

header .logo ul li:nth-child(2) {
  transform: translate(-50%, -50%) rotate(40deg) translateY(-110px) rotateX(90deg);
}

header .logo ul li:nth-child(3) {
  transform: translate(-50%, -50%) rotate(80deg) translateY(-110px) rotateX(90deg);
}

header .logo ul li:nth-child(4) {
  transform: translate(-50%, -50%) rotate(120deg) translateY(-110px) rotateX(90deg);
}

header .logo ul li:nth-child(5) {
  transform: translate(-50%, -50%) rotate(160deg) translateY(-110px) rotateX(90deg);
}

header .logo ul li:nth-child(6) {
  transform: translate(-50%, -50%) rotate(200deg) translateY(-110px) rotateX(90deg);
}

header .logo ul li:nth-child(7) {
  transform: translate(-50%, -50%) rotate(240deg) translateY(-110px) rotateX(90deg);
}

header .logo ul li:nth-child(8) {
  transform: translate(-50%, -50%) rotate(280deg) translateY(-110px) rotateX(90deg);
}

header .logo ul li:nth-child(9) {
  transform: translate(-50%, -50%) rotate(320deg) translateY(-110px) rotateX(90deg);
}

header .logo ul li:nth-child(1) {
  animation: circle-orbit-1 16s linear infinite;
}

header .logo ul li:nth-child(2) {
  animation: circle-orbit-2 16s linear infinite;
}

header .logo ul li:nth-child(3) {
  animation: circle-orbit-3 16s linear infinite;
}

header .logo ul li:nth-child(4) {
  animation: circle-orbit-4 16s linear infinite;
}

header .logo ul li:nth-child(5) {
  animation: circle-orbit-5 16s linear infinite;
}

header .logo ul li:nth-child(6) {
  animation: circle-orbit-6 16s linear infinite;
}

header .logo ul li:nth-child(7) {
  animation: circle-orbit-7 16s linear infinite;
}

header .logo ul li:nth-child(8) {
  animation: circle-orbit-8 16s linear infinite;
}

header .logo ul li:nth-child(9) {
  animation: circle-orbit-9 16s linear infinite;
}

header .logo ul li:nth-child(8) {
  -webkit-text-fill-color: #fff;
}

@keyframes circle-orbit-8 {
  6% {
    -webkit-text-fill-color: transparent;
  }
}

header .logo ul li:nth-child(9) {
  -webkit-text-fill-color: #fff;
}

@keyframes circle-orbit-9 {
  28.22222% {
    -webkit-text-fill-color: transparent;
  }
}

header .logo ul li:nth-child(1) {
  -webkit-text-fill-color: #fff;
}

@keyframes circle-orbit-1 {
  50% {
    -webkit-text-fill-color: transparent;
  }
}

header .logo ul li:nth-child(2) {
  -webkit-text-fill-color: #fff;
}

@keyframes circle-orbit-2 {
  72.22222% {
    -webkit-text-fill-color: transparent;
  }
}

header .logo ul li:nth-child(3) {
  -webkit-text-fill-color: #fff;
}

@keyframes circle-orbit-3 {
  94.44444% {
    -webkit-text-fill-color: transparent;
  }
}

header .logo ul li:nth-child(4) {
  -webkit-text-fill-color: transparent;
}

@keyframes circle-orbit-4 {
  18% {
    -webkit-text-fill-color: #fff;
  }
}

header .logo ul li:nth-child(5) {
  -webkit-text-fill-color: transparent;
}

@keyframes circle-orbit-5 {
  40.22222% {
    -webkit-text-fill-color: #fff;
  }
}

header .logo ul li:nth-child(6) {
  -webkit-text-fill-color: transparent;
}

@keyframes circle-orbit-6 {
  62.44444% {
    -webkit-text-fill-color: #fff;
  }
}

header .logo ul li:nth-child(7) {
  -webkit-text-fill-color: transparent;
}

@keyframes circle-orbit-7 {
  84.66667% {
    -webkit-text-fill-color: #fff;
  }
}

header nav a, header nav a:visited {
  margin-left: 60px;
  font-size: 20px;
  line-height: 1.6;
  color: #646464;
}

header nav a:hover, header nav a:visited:hover {
  font-style: italic;
}

header nav a:last-child, header nav a:visited:last-child {
  text-decoration: line-through;
  pointer-events: none;
}

.content-wrapper {
  min-height: 38vh;
}

.separator {
  margin: 120px 0 60px 0;
  height: 4px;
  background-color: #f32d94;
}

footer {
  margin: 55px 0 55px 0;
  font-size: 16px;
  color: #646464;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

footer a, footer a:visited {
  color: #646464;
  width: max-content;
}

footer a:hover {
  font-style: italic;
}

footer .left .ADV {
  font-family: "Futura-pt";
  font-size: 42px;
  line-height: 1;
  letter-spacing: -5px;
  color: #f32d94;
}

footer .left .ADV span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

footer .left .copyright {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-bottom: 5px;
  font-size: 14px;
}

footer .left .copyright p {
  margin: 0;
  line-height: 1.8;
}

footer .left .copyright a {
  text-decoration: underline;
}

footer .right {
  width: 52%;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

footer .right p {
  margin-bottom: 15px;
  color: #f32d94;
  font-weight: 800;
}

footer .right a {
  display: block;
  margin-bottom: 10px;
}

@media (max-width: 950px) {
  footer .right {
    width: 65%;
  }
}

@media (max-width: 780px) {
  body {
    padding: 0 40px;
  }
  header .logo {
    height: 70px;
    width: 190px;
  }
  header .logo img {
    width: 70px;
  }
  header .logo ul li {
    font-size: 48px;
  }
  header .logo ul li:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-90px) rotateX(90deg);
  }
  header .logo ul li:nth-child(2) {
    transform: translate(-50%, -50%) rotate(40deg) translateY(-90px) rotateX(90deg);
  }
  header .logo ul li:nth-child(3) {
    transform: translate(-50%, -50%) rotate(80deg) translateY(-90px) rotateX(90deg);
  }
  header .logo ul li:nth-child(4) {
    transform: translate(-50%, -50%) rotate(120deg) translateY(-90px) rotateX(90deg);
  }
  header .logo ul li:nth-child(5) {
    transform: translate(-50%, -50%) rotate(160deg) translateY(-90px) rotateX(90deg);
  }
  header .logo ul li:nth-child(6) {
    transform: translate(-50%, -50%) rotate(200deg) translateY(-90px) rotateX(90deg);
  }
  header .logo ul li:nth-child(7) {
    transform: translate(-50%, -50%) rotate(240deg) translateY(-90px) rotateX(90deg);
  }
  header .logo ul li:nth-child(8) {
    transform: translate(-50%, -50%) rotate(280deg) translateY(-90px) rotateX(90deg);
  }
  header .logo ul li:nth-child(9) {
    transform: translate(-50%, -50%) rotate(320deg) translateY(-90px) rotateX(90deg);
  }
  header nav a {
    margin-left: 40px;
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  header nav a {
    margin-left: 25px;
  }
}

@media (max-width: 565px) {
  body {
    padding: 0 30px;
  }
  header {
    margin: 30px 0 120px 0;
  }
  header .logo {
    height: 65px;
    width: 170px;
  }
  header .logo img {
    width: 65px;
  }
  header .logo ul li {
    font-size: 44px;
  }
  header .logo ul li:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-80px) rotateX(90deg);
  }
  header .logo ul li:nth-child(2) {
    transform: translate(-50%, -50%) rotate(40deg) translateY(-80px) rotateX(90deg);
  }
  header .logo ul li:nth-child(3) {
    transform: translate(-50%, -50%) rotate(80deg) translateY(-80px) rotateX(90deg);
  }
  header .logo ul li:nth-child(4) {
    transform: translate(-50%, -50%) rotate(120deg) translateY(-80px) rotateX(90deg);
  }
  header .logo ul li:nth-child(5) {
    transform: translate(-50%, -50%) rotate(160deg) translateY(-80px) rotateX(90deg);
  }
  header .logo ul li:nth-child(6) {
    transform: translate(-50%, -50%) rotate(200deg) translateY(-80px) rotateX(90deg);
  }
  header .logo ul li:nth-child(7) {
    transform: translate(-50%, -50%) rotate(240deg) translateY(-80px) rotateX(90deg);
  }
  header .logo ul li:nth-child(8) {
    transform: translate(-50%, -50%) rotate(280deg) translateY(-80px) rotateX(90deg);
  }
  header .logo ul li:nth-child(9) {
    transform: translate(-50%, -50%) rotate(320deg) translateY(-80px) rotateX(90deg);
  }
  header nav a {
    display: block;
    text-align: right;
  }
}
