.home-content {
    h1 {
        margin: 0 0 140px auto;
        max-width: 685px;
    }

    p:not(:first-of-type) {
        margin-top: 15px;
    }

    .top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .path-for-companies {
            h2 {
                max-width: 420px;
            }

            p {
                max-width: 510px;
            }
        }

        .latest-investment {
            margin-top: 120px;
            --latestInvestmentWidth: 350px;

            p.tag {
                margin-bottom: 10px;
                margin-left: -28px;

                font-size: 16px;
                line-height: 1;
                padding: 4px;
                background-color: #f32d94;
                color: #fff;
                width: max-content;
            }

            img {
                width: var(--latestInvestmentWidth);
                height: calc(var(--latestInvestmentWidth) * 0.858);
                object-fit: cover;

                transition: transform 0.2s, box-shadow 0.2s, filter 0.2s;
            }

            h1 {
                font-size: 62px;
                -webkit-text-stroke: 1.5px;
                -webkit-text-stroke-color: #f32d94;
                -webkit-text-fill-color: transparent;

                width: max-content;
                max-width: var(--latestInvestmentWidth);

                margin-top: -30px;
                margin-bottom: 0;
                padding: 0 5px;
                text-align: right;

                transition: transform 0.2s, box-shadow 0.2s;
            }

            p.copy {
                margin-top: 0;
                margin-right: 5px;
                line-height: 1.5;
                text-align: right;
                max-width: var(--latestInvestmentWidth);
            }

            &:hover {
                img {
                    box-shadow: -4px 4px 0px 0px #f32d94;
                    transform: translate(4px, -4px);
                    filter: brightness(104%);
                }

                h1 {
                    -webkit-text-stroke: 0px;
                    -webkit-text-stroke-color: #fff;
                    -webkit-text-fill-color: #fff;

                    background-color: #f32d94;
                    box-shadow: -7px 7px 0px -1px #646464;
                    transform: translate(7px, -7px);
                }
            }
        }
    }

    .our-portfolio {
        margin:  auto 0 auto 0;

        p {
            max-width: 450px;
        }
    }

    .portfolio-preview {
        display: grid;
        grid-template-columns: repeat(auto-fit, var(--portfolioItemWidth));
        grid-gap: 3rem 2.1rem;
        justify-content: space-between;

        margin: 20px auto 100px auto;

        p.copy {
            margin-top: 5px;
        }

        .portfolio-item {
            &:nth-child(1) {margin-top:  170px}
            &:nth-child(2) {margin-top:   40px}
            &:nth-child(3) {margin-top:  420px}
            &:nth-child(4) {margin-top:  260px}
            &:nth-child(5) {margin-top: -200px}
        }
    }

    .bottom-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .collective-genius {
            p {
                max-width: 520px;
            }
        }

        img {
            margin-top: 100px;

            width: 460px;
            height: 275px;
            object-fit: cover;
        }
    }




    @media (max-width: 1080px) {
        .top-row {
            .path-for-companies {
                p {
                    max-width: 490px;
                }
            }

            .latest-investment {
                --latestInvestmentWidth: 310px;
            }
        }

        .portfolio-preview {
            justify-content: space-around;

            .portfolio-item {
                &:nth-child(3) {margin-top:  300px}
                &:nth-child(4) {margin-top: -120px}
                &:nth-child(5) {display: none}
            }
        }
    }


    @media (max-width: 965px) {
        h1 {
            max-width: 605px;
        }

        .top-row {
            .path-for-companies {
                h2 {
                    max-width: 370px;
                }

                p {
                    max-width: 440px;
                }
            }

            .latest-investment {
                margin-top: 120px;
                --latestInvestmentWidth: 280px;

                p.tag {
                    margin-left: -23px;
                }

                h1 {
                    margin-top: -27px;
                    font-size: 56px;
                }
            }
        }

        .portfolio-preview {
            .portfolio-item {
                &:nth-child(1) {margin-top: 130px}
                &:nth-child(2) {margin-top: 0px}
                &:nth-child(3) {margin-top: 200px}
                &:nth-child(4) {display: none}
            }
        }
    }


    @media (max-width: 875px) {
        .top-row {
            .path-for-companies {
                p {
                    max-width: 400px;
                }
            }

            .latest-investment {
                margin-top: 100px;
                --latestInvestmentWidth: 250px;

                p.tag {
                    margin-left: -18px;
                }

                h1 {
                    margin-top: -24px;
                    font-size: 48px;
                    -webkit-text-stroke: 1.2px;
                }
            }
        }
    }


    @media (max-width: 825px) {
        .top-row {
            .path-for-companies {
                p {
                    max-width: 390px;
                }
            }

            .latest-investment {
                --latestInvestmentWidth: 215px;

                p.tag {
                    margin-left: -16px;
                }

                img {
                    height: calc(var(--latestInvestmentWidth) * 0.92);
                }

                h1 {
                    margin-top: -22px;
                    font-size: 44px;
                }
            }
        }
    }


    @media (max-width: 769px) {
        h1 {
            margin-bottom: 120px;
            max-width: 500px;
        }

        .top-row {
            .latest-investment {
                --latestInvestmentWidth: 210px;

                h1 {
                    font-size: 42px;
                }
            }
        }
    }


    @media (max-width: 740px) {
        .top-row {
            margin-bottom: 70px;

            .path-for-companies {
                p {
                    max-width: 470px;
                }
            }

            .latest-investment {
                display: none;
            }
        }
    }


    @media (max-width: 475px) {
        .top-row {
            .path-for-companies h2 {
                max-width: 300px;
            }
        }
    }


    @media (max-width: 425px) {
        .portfolio-preview {
            grid-gap: 2rem 1.5rem;
        }
    }


    @media (max-width: 380px) {
        .portfolio-preview {
            margin-top: 60px;
            grid-gap: 3.3rem;
        }
    }


    @media (max-width: 340px) {
        .portfolio-preview {
            margin-top: 60px;
            grid-gap: 3.5rem;
        }
    }

}
