.home-content h1 {
  margin: 0 0 140px auto;
  max-width: 685px;
}

.home-content .top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-content .top-row .path-for-companies h2 {
  max-width: 420px;
}

.home-content .top-row .path-for-companies p {
  max-width: 510px;
}

.home-content .top-row .latest-investment {
  margin-top: 120px;
}

.home-content .top-row .latest-investment p.tag {
  margin-bottom: 10px;
  margin-left: -28px;
  font-size: 16px;
  line-height: 1;
  padding: 4px;
  background-color: #f32d94;
  color: #fff;
  width: max-content;
}

.home-content .top-row .latest-investment img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  transition: transform 0.25s, box-shadow 0.25s;
}

.home-content .top-row .latest-investment h1 {
  font-size: 64px;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #f32d94;
  -webkit-text-fill-color: transparent;
  width: max-content;
  max-width: 350px;
  margin-top: -30px;
  margin-bottom: 0;
  padding: 0 5px;
  text-align: right;
  transition: transform 0.25s, box-shadow 0.25s;
}

.home-content .top-row .latest-investment p.copy {
  margin-top: 0;
  margin-right: 5px;
  text-align: right;
  max-width: 350px;
}

.home-content .top-row .latest-investment:hover img {
  box-shadow: -5px 5px 0px 0px #f32d94;
  transform: translate(5px, -5px);
}

.home-content .top-row .latest-investment:hover h1 {
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: #fff;
  background-color: #f32d94;
  box-shadow: -7px 7px 0px 0px #646464;
  transform: translate(7px, -7px);
}

.home-content .our-portfolio {
  margin: auto 0 auto;
}

.home-content .our-portfolio p {
  max-width: 450px;
}

.home-content .portfolio-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto 100px auto;
}

.home-content .portfolio-preview .portfolio-item:nth-child(1) {
  margin-top: 180px;
}

.home-content .portfolio-preview .portfolio-item:nth-child(2) {
  margin-top: 55px;
}

.home-content .portfolio-preview .portfolio-item:nth-child(3) {
  margin-top: 480px;
}

.home-content .portfolio-preview .portfolio-item:nth-child(4) {
  margin-top: 310px;
}

.home-content .portfolio-preview .portfolio-item:nth-child(5) {
  margin-top: -190px;
}

.home-content .portfolio-preview .portfolio-item p.name {
  margin-bottom: 0;
  padding-right: 3px;
  font-size: 22px;
  font-weight: 800;
  color: #f32d94;
  text-align: right;
  text-transform: uppercase;
}

.home-content .portfolio-preview .portfolio-item img {
  margin: 3px 0 5px 0;
  width: 230px;
  height: 290px;
  object-fit: cover;
}

.home-content .portfolio-preview .portfolio-item p.copy {
  margin-top: 0;
  max-width: 230px;
}

.home-content .portfolio-preview .portfolio-item:hover p.name {
  font-style: italic;
  color: #fff;
  background-color: #f32d94;
}

.home-content .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-content .bottom-row .collective-genius p {
  max-width: 520px;
}

.home-content .bottom-row img {
  margin-top: 100px;
  width: 460px;
  height: 275px;
  object-fit: cover;
}
