.approach-content {
    h1 {
        max-width: 400px;
    }

    p:not(:first-child) {
        margin-top: 60px;
    }

    .writing {
        margin: auto;
        max-width: 780px;

        a {
            text-decoration: underline;

            &:hover {
                font-style: italic;
            }
        }

        blockquote {
            margin: 70px auto 70px auto;
            max-width: 350px;
            text-align: center;
        }
    }

    .stages {
        margin: 90px auto 0 auto;
        max-width: 1020px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        div {
            width: 28%;
            position: relative;

            margin: 0 10px 70px 10px;

            h2.number {
                position: absolute;
                top: -5px;
                left: -25px;
                z-index: -1;

                font-family: "futura-pt", "futura", sans-serif;
                font-size: 72px;
                opacity: 0.85;
                -webkit-text-stroke: 1.2px;
                -webkit-text-fill-color: transparent;

                position: relative;

                &::after {
                    content: attr(data-number);
                    -webkit-text-stroke: 0;
                    -webkit-text-fill-color: #f32d94;

                    position: absolute;
                    top: -0px;
                    left: 0px;

                    opacity: 0;
                    transition: top 0.15s, left 0.15s;
                }
            }

            p.stage-title {
                margin-top: -55px;
                font-weight: 700;
            }

            p.stage-copy {
                margin-top: 5px;
                font-size: 0.92em;
            }

            &:hover, &.scrolled {
                h2.number {
                    font-style: italic;

                    &::after {
                        opacity: 1;
                        top: -4px;
                        left: -4px;
                    }
                }
            }
        }

        div.stage-cta {
            margin-top: 25px;

            a.button {
                display: block;
                width: max-content;
            }
        }
    }




    @media (max-width: 950px) {
        h1 {
            max-width: 340px;
        }

        p:not(:first-child) {
            margin-top: 50px;
        }

        .writing {
            blockquote {
                margin: 50px auto 50px auto;
                max-width: 350px;
            }
        }

        .stages {
            margin-top: 60px;
        }
    }


    @media (max-width: 870px) {
        h1 {
            max-width: 280px;
        }

        .stages {
            justify-content: space-around;

            div {
                width: 35%;
            }
        }
    }


    @media (max-width: 635px) {
        .stages {
            div {
                margin-bottom: 50px;

                width: 65%;

                &:nth-child(5) {
                    margin-bottom: 20px;
                }

                h2.number {
                    top: -10px;
                }
            }
        }
    }


    @media (max-width: 425px) {
        h1 {
            max-width: 240px;
        }

        p:not(:first-child) {
            margin-top: 40px;
        }

        .writing {
            margin: auto;

            blockquote {
                margin: 40px auto 40px auto;
                max-width: 240px;
            }
        }

        .stages {
            div {
                width: 78%;
            }

            div.stage-cta {
                margin: 10px auto 0 auto;

                a.button {
                    display: inline-block;
                    margin-right: 15px;
                }
            }
        }
    }


    @media (max-width: 340px) {
        h1 {
            max-width: 220px;
        }

        p:not(:first-child) {
            margin-top: 30px;
        }

        .writing {
            blockquote {
                margin: 30px auto 30px auto;
                max-width: 220px;
            }
        }

        .stages {
            div {
                width: 85%;
            }
        }
    }
}
