.portfolio-content h1 {
  max-width: 400px;
}

.portfolio-content .portfolio-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 3rem;
  justify-content: space-between;
}

.portfolio-content .portfolio-item {
  --width: 225px;
  --height: 285px;
}

.portfolio-content .portfolio-item p.name {
  font-size: 20px;
  max-width: var(--width);
}

.portfolio-content .portfolio-item img {
  width: var(--width);
  height: var(--height);
}

.portfolio-content .portfolio-item p.copy {
  max-width: var(--width);
}
