.portfolio-content {
  --itemWidth: 225px;
  --itemHeight: 285px;
}

.portfolio-content h1 {
  max-width: 400px;
}

.portfolio-content .portfolio-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--itemWidth));
  grid-gap: 3rem;
  justify-content: space-between;
}

.portfolio-content .portfolio-item p.name {
  font-size: 20px;
  max-width: var(--itemWidth);
}

.portfolio-content .portfolio-item img {
  width: var(--itemWidth);
  height: var(--itemHeight);
}

.portfolio-content .portfolio-item p.copy {
  max-width: var(--itemWidth);
}
