.portfolio-content {
    --itemWidth: 225px;

    h1 {
        max-width: 400px;
    }

    .portfolio-container {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(auto-fit, var(--itemWidth));
        grid-gap: 3rem;
        justify-content: space-between;
    }

    .portfolio-item {
        p.name {
            font-size: 20px;
            max-width: var(--itemWidth);
        }

        img {
            width: var(--itemWidth);
            height: calc(var(--itemWidth) * 1.27);
        }

        p.copy {
            max-width: var(--itemWidth);
        }
    }
}
