.faq-content {
    .writing {
        margin: auto;
        max-width: 720px;

        p.question {
            margin-top: 40px;

            font-size: 1.08em;
            font-weight: 700;
            color: #646464;
        }

        p.answer {
            margin-top: 10px;

            &:not(:first-child) {
                margin-top: 18px;
            }
        }

        a {
            text-decoration: underline;

            &:hover {
                font-style: italic;
            }
        }
    }




    @media (max-width: 769px) {
        .writing {
            p.question {
                margin-top: 30px;
            }

            p.answer {
                margin-top: 10px;

                &:not(:first-child) {
                    margin-top: 15px;
                }
            }
        }
    }


    @media (max-width: 475px) {

    }


    @media (max-width: 425px) {

    }


    @media (max-width: 340px) {

    }
}
